<form action="https://sendy.allteamz.com/subscribe" method="POST" accept-charset="utf-8">
	<label for="name">Name</label><br/>
	<input type="text" name="name" id="name"/>
	<br/>
	<label for="email">Email</label><br/>
	<input type="email" name="email" id="email"/>
<br/>
<label for="Title">Title</label><br/>
<input type="text" name="Title" id="Title"/>
<br/>
<label for="Company">Company</label><br/>
<input type="text" name="Company" id="Company"/><br/><div style="display:none;">
	<label for="hp">HP</label><br/>
	<input type="text" name="hp" id="hp"/>
	</div>
	<input type="hidden" name="list" value="hoUtbyKmVLCfw76313Xc763xAg"/>
	<input type="hidden" name="subform" value="yes"/>
	<input type="submit" name="submit" id="submit"/>
</form>